@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  --primary-bg: #ffffff; /* White background */
  --primary-text: #555555; /* Grey text */
  --primary-highlight: #e53e3e; /* Red highlight */
}

body {
  min-height: 100vh;
  background-color: var(--primary-bg); /* Apply white background */
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  color: var(--primary-text); /* Apply grey text */
}

p {
  margin: 1rem 0;
  color: var(--primary-text); /* Apply grey text */
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Add specific styles for buttons, links, etc. as needed */
.button-container button {
  background-color: var(--primary-highlight); /* Apply red highlight */
  color: #ffffff;
  /* Add other button styles as needed */
}

.button-container button:hover {
  background-color: #c53030; /* Slight variation for hover effect */
  /* Add other button hover styles as needed */
}


.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555555;
}

.form-group input,
.form-group select {
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group input[type="checkbox"] {
  margin-top: 0.5rem;
}

.button-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  background-color: #e53e3e;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #c53030;
}
